/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 input {
 	border-bottom: 1px solid white;
 }

 .input-field label {
 	color: white; 	
 }

 .input-field input[type=text]:focus + label {
 	color: white;
 } 

 sub {
 	color: #9E9E9E;
 }

 .icon-block {
 	padding: 0 15px;
 }
 .icon-block .material-icons {
 	font-size: inherit;
 }

 .modal.hist{
 	width:80% !important;
 	overflow:auto !important;
 	border-radius: 5px !important;
 	max-height: 80% !important;
 	height: 80% !important;
}

.modal {
	border-radius: 5px !important;
}
 
.modal.hist .modal-content {
	    background-image: url(../img/stripes.png) !important;
}

.modal .modal-footer {
 	color: white !important;
    background-color: rgba(68, 68, 68, 0.75) !important;
    padding-left: 15px !important;
 }

 .modal.hist .modal-header {
 	padding: 9px;
    padding-left: 25px;
    background-color: #444;
    color: white;
    position: absolute;
 }

 .luc .card .card-content{
 	padding-top: 12px;
 }

 .luc img {
 	width: 20px;
    height: 20px;
    color: white;
 }

 .luc .card  .bright {
 	padding-top: 7px;
 	padding-bottom: 5px;
 }

 .luc .card .rbright {
 	margin-bottom: 0px; 
 	margin-top: 5px; 
 	margin-right: 0px;
 	margin-left: 0px
 }

#brighticon {
 	padding-left: 5px !important; 
 	padding-top: 2px !important
 }


.optimus {
    color: #787878 !important;
}

#operator {
    width: 37px;
}

#operator .material-icons {
    color: #757575;
}



.input-field .prefix.active{
    color: white !important;
}